/* google font */
@import url("//cdn.web-fonts.ge/fonts/alk-life/css/alk-life.min.css");

/* layout */
:root {
  --primary: #ee5a86;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "ALK Life", sans-serif;
}
header {
  background: #fff;
  box-shadow: 3px 3px 3px 5px rgba(0, 0, 0, 0.048);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
  transition: 0.3s;
}
header a:hover {
  color: var(--primary);
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}
.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "ALK Life", sans-serif;

  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}
nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "ALK Life", sans-serif;

  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;
}

/* auth forms */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  transition: 0.3s;
}
form input {
  transition: 0.3s;
  outline: none;
}
form input:focus {
  border: 1px solid var(--primary);
}
form button {
  border: 2px solid var(--primary);
  transition: 0.3s;
}
form button:hover {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  font-family: "ALK Life", sans-serif;

  cursor: pointer;
}
form.signup:hover,
form.login:hover {
  box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.13);
}
